@import '../variables.scss';

.fotos {
    margin: 0;
    padding: 0;
    // width: 100%;
    height: 434px;

    &_image {
        width: 100%;
        height: 100%;
        overflow: auto
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .fotos {
        padding-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .fotos {
        height: 250px;
    }
}